.welcome {
    text-align: center;
    max-width: 500px;
    height: 100%;
    padding:5rem;
    background: #2c2c2c;
    color:#fff;
}

@media screen and (max-width: 1140px) {
    #loginForm {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 900px) {
    #loginForm {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 800px) {
    #loginForm {
        padding: 0;
    }
}

#logoImg {
    max-width: 40px;
    align-items: center;
    margin: 0 0.5rem -.5rem 0.5rem;
}

#loginForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#emailIdLabel {
    text-align: left;
    grid-column: 1 / span 2;
    grid-row-start: 1;
}

#emailId {
    width: 90%;
    margin-left: -.5rem;
}

#confirmEmailLabel {
    text-align: left;
    grid-column: 1 / span 2;
    grid-row-start: 2;
}

#confirmEmail {
    width: 90%;
    margin-left: -.5rem;
}

#passwordIdLabel {
    text-align: left;
    grid-column: 1 / span 2;
    grid-row-start: 3;
}

#passwordId {
    width: 90%;
    margin-left: -.5rem;
}


#confirmPassLabel {
    text-align: left;
    grid-column: 1 / span 2;
    grid-row-start: 4;
}

#confirmPass {
    width: 90%;
    margin-left: -.5rem;
}

.sign-up-btn-container {
    grid-column: 1 / span 2;
    grid-row: 5;
    width: 94%;
    padding-top: .5rem;
    display: grid;
}

.sign-up-btn {
    height: 3rem;
    grid-column: 1;
    cursor: pointer;
    background: #006F8A;
    color: #fff;
}

.back-btn {
    height: 3rem;
    grid-column: 2;
    cursor: pointer;
    background: #006F8A;
    color: #fff;
}

.sign-up-btn:hover {
    background: #004455;
    /* box-shadow: inset .1rem .1rem .1rem #000; */
}

.sign-up-btn:active {
    box-shadow: inset .2rem .1rem .5rem #000;
}

.back-btn:hover {
    background: #004455;
    /* box-shadow: inset .1rem .1rem .1rem #000; */
}

.back-btn:active {
    box-shadow: inset .2rem .1rem .5rem #000;
}

.sign-in-heading {
    margin-left: -2rem;
    margin-bottom: 3rem;
}
.login-signin-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
label {
    color: rgb(255, 255, 255);
    margin-left: 1rem;
    text-align: left;
}

input {
    padding: .5rem;
    margin: .75rem;
    border: 1px solid #000;
    color: #000;
    /* border-bottom: 1px solid #000; */
    border-radius: .75rem;
    box-shadow: inset .5px .5px 1px #000;
}

button {
    display: block;
    padding: .5rem;
    margin: .75rem;
    border: 0px;
    border-radius: .75rem;
}

#signInBtn {
    cursor: pointer;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #006F8A;
    color: #fff;
}

#signInBtn:hover {
    background: #004455;
    /* box-shadow: inset .1rem .1rem .1rem #000; */
}

#signInBtn:active {
    box-shadow: inset .2rem .1rem .5rem #000;
}

#createAcctLink {
    cursor: pointer;
    color: #006F8A;
    text-decoration: underline;
}